---
---
@import "materialize/materialize";
@import "custom-flow-text";
@import "syntax-highlighting";

strong {
  font-weight: 900;
}

a.btn {
  font-size: 1rem;
}

nav img {
  height: 64px;
  padding: 10px;
}

code.highlighter-rouge {
  background-color: #343642;
  color: #C1C2C3;
  padding: 0 0.4rem;
}
.inline-image {
  vertical-align: top;
  height: 32px;
}

/** most often used on the code pages **/
h4 {
  margin-top: 3.4rem;
}

/**
 * the style for the code option blocks in the JS
 */
.option-description {
  margin-top: 3rem;
}
.option-description section:last-child {
  display: none;
}
.option-description > div a {
  text-transform: inherit;
  border-radius: 0;
  box-shadow: none;
  color: #000000;
  background-color: transparent;
}
.option-description > div a.active {
  background-color: color('blue-grey', 'darken-2');
  border-bottom: 4px solid color("cyan", "lighten-3");
  box-shadow: none;
  color: #ffffff;
}
.option-description > div a:hover:not(.active) {
  border-bottom: 4px solid color("grey", "lighten-1");
  background-color: color("grey", "lighten-2");
  box-shadow: none;
}

.option-description .row {
  margin-top: 1rem;
}
.option-description h6 {
  font-weight: bold;
}