---
---
@import "materialize/materialize";
@import "custom-flow-text";
@import "syntax-highlighting";
@import "swagger";

.side-nav ul {
  margin-left: 10px;
}
.nav-wrapper.secondary {
  padding-left: 14px;
}

strong {
  font-weight: 900;
}

a.btn {
  font-size: 1rem;
}

nav img {
  height: 64px;
  padding: 14px;
}

tr {
  border-bottom: 1px solid #cccccc;
}

code.highlighter-rouge {
  background-color: #343642;
  color: #C1C2C3;
  padding: 0 0.4rem;
}
.inline-image {
  vertical-align: top;
  height: 32px;
}

/** most often used on the code pages **/
h4 {
  margin-top: 3.4rem;
}
h5 {
  margin-top: 3rem;
}

/**
 * the style for the code option blocks in the JS and the API
 */
.option-description {
  margin-top: 3rem;
}
.option-description section:last-child:not(:only-of-type) {
  display: none;
}
.option-description > div {
  a {
    text-transform: inherit;
    border-radius: 0;
    box-shadow: none;
    color: #000000;
    background-color: transparent;
  }
  a.active {
    background-color: color('blue-grey', 'darken-2');
    border-bottom: 4px solid color("cyan", "lighten-3");
    box-shadow: none;
    color: #ffffff;
  }
  a:hover:not(.active) {
    border-bottom: 4px solid color("grey", "lighten-1");
    background-color: color("grey", "lighten-2");
    box-shadow: none;
  }
  code {
    margin-left: 0.5rem;
  }
} 

.option-description .row {
  margin-top: 1rem;
}
.option-description h6 {
  font-weight: bold;
}