<div class="option-description card">
    <div class="option-description-navigation">
        <a href="#" class="active btn" data-panel=".description"><code>{{ include.key }}</code></a>
        <a href="#" class="btn" data-panel=".example">example</a>
    </div>
    <section class="card-content description">
        <p>{{ include.description | markdownify }}</p>
        <div class="row">
            {% if include.enum %}{% assign mediumSize = 'm4' %}{% else %}{% assign mediumSize = 'm6' %}{% endif %}
            <div class="col s12 {{ mediumSize }}">
                <ul class="collection with-header">
                    <li class="collection-header"><h6>Requirements</h6></li>
                    {% assign requirements = include.requirements | split: ";;" %}
                    {% for requirement in requirements %}
                        <li class="collection-item">{{ requirement }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% if include.enum %}
            <div class="col s12 {{ mediumSize }}">
                <ul class="collection with-header">
                    <li class="collection-header"><h6>Possible Values</h6></li>
                    {% assign values = include.enum | split: ";;" %}
                    {% for value in values %}
                    <li class="collection-item"><code>{{ value }}</code></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="col s12 {{ mediumSize }}">
                <ul class="collection with-header">
                    <li class="collection-header"><h6>Default Value</h6></li>
                    <li class="collection-item">{{ include.default }}</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="card-content example">
        {{ include.example | markdownify }}
    </section>
</div>
