{% for route in include.swagger.paths %}

{% for method in route[1] %}
<div class="option-description card">
    <div class="option-description-navigation">
        <a href="#" class="active btn" data-panel=".description"><code>{{ method[0] | upcase }}</code></a>
        <code>{{ route[0] }}</code>
    </div>
    <section class="card-content description swagger-section">
        <p>{{ method[1].summary | markdownify }}</p>
        {% if method[1].parameters %}
            <h5>Parameters</h5>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Where</th>
                    <th>Description</th>
                    <th>Type</th>
                </tr>
                {% for parameter in method[1].parameters %}
                <tr>
                    <td{% if parameter.required %} class="required"{% endif %}>
                        <code>{{ parameter.name }}</code>
                    </td>
                    <td>{{ parameter.in }}</td>
                    <td>{{ parameter.description | markdownify }}</td>
                    <td>
                        {% if parameter.type %}
                        {{ parameter.type | capitalize }}
                        {% if parameter.items %}
                        of {{ parameter.items.type | capitalize }}
                        {% endif %}
                        {% else %}
                        String
                        {% endif %}
                        {% if parameter.enum %}
                        <ul>
                            {% for enum in parameter.enum %}
                            <li><code>{{ enum }}</code></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% if method[1].responses %}
        <h5>Responses</h5>
        <table class="responses">
        {% for response in method[1].responses %}
            <tr>
                <td><code>{{ response[0] }}</code></td>
                <td>
                    {{ response[1].description | markdownify }}
                    {% for content_type in include.swagger.produces %}
                    {% if response[1].examples[content_type] %}
                    <section>
                        <a href="#">Example</a>
                        <div>
                            {% assign example = response[1].examples[content_type] %}
                            {% if content_type contains 'json' %}
                            {% highlight json %}{{ example }}{% endhighlight %}
                            {% elsif content_type contains 'xml' %}
                            {% highlight xml %}{{ example }}{% endhighlight %}
                            {% else %}
                            {% highlight http %}{{ example }}{% endhighlight %}
                            {% endif %}
                        </div>
                    </section>
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </table>
        {% endif %}
    </section>
</div>
{% endfor %}

{% endfor %}
