nav .brand-logo {
    padding-left: 1rem;
}
h1 {
    font-size: 3rem;
}
hr.spacer-only {
    border-color: transparent;
    margin-top: 2rem;
}
.input-field-group .col {
    margin-top: 0;
}
.input-help {
    font-size: 0.8rem;
}

#request-parameters-content {
    display: none;
}
#request-parameters-content .row:first-of-type .delete {
    display: none;
}
.row .parameter-list-controls {
    padding-top: 1rem;
}
.parameter-list-controls a {
    opacity: 0.4;
}
.parameter-list-controls a:hover, .parameter-list-controls a:focus {
    opacity: 1;
}

#generated-values dt {
    font-weight: bold;
}
#generated-values dd {
    font-family: monospace;
}
#generated-values-combined {
    white-space: pre;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 80%;
    }
}