---
layout: exterior
---
<nav class="blue-grey darken-3 hide-on-med-and-down">
  <div class="nav-wrapper secondary">
    <strong>API Documentation</strong>
    <ul class="right">
      <li><a href="{{site.baseurl}}/api/js">Javascript Library</a></li>
      <li><a href="{{site.baseurl}}/api/rest">REST API</a></li>
      <li><a href="https://api.wallit.io/swagger/ui/index#/">Next-Generation REST API</a></li>
      <li><a href="{{site.baseurl}}/api/webhooks">Webhooks</a></li>
      <li><a href="{{site.baseurl}}/api/dynamic-resource-creation">Dynamic Resource Creation</a></li>
    </ul>
  </div>
</nav>
<main class="container">
  {{ content }}
</main>
