<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/site.css">
  </head>
  <body>
    <header>
      <nav class="light-blue">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo"><img src="{{site.baseurl}}/images/wallit-logo.svg" alt="logo"></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/documentation/">Documentation</a></li>
            <li><a href="#">SDKs</a></li>
            <li><a href="#">CMS Plugins</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">
      {{ content }}
    </main>
    <footer class="page-footer blue-grey darken-3">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Need more help?</h5>
            <p class="grey-text text-lighten-4">
                No problem!  We'd love to chat with you - we really mean it!
              <a href="#">Contact Us</a> - we promise we don't bite!
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Jump to section:</h5>
            <ul class="browser-default">
              <li><a class="grey-text text-lighten-3" href="{{site.baseurl}}/overview-of-concepts">Overview of Concepts</a></li>
              <li><a class="grey-text text-lighten-3" href="{{site.baseurl}}/overview-of-user-interfaces">Overview of User Interfaces</a></li>
              <li><a class="grey-text text-lighten-3" href="{{site.baseurl}}/common-scenarios">Examples and Common Scenarios</a></li>
              <li><a class="grey-text text-lighten-3" href="{{site.baseurl}}/api">Detailed API Documentation</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2016 Wallit
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  </body>
</html>