<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <link rel="stylesheet" href="{{site.baseurl}}/css/site.css">
    </head>
    <body>
        <header>
            <nav class="light-blue darken-4">
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo"><img src="{{site.baseurl}}/images/icon-white.svg" alt="logo"><img src="{{site.baseurl}}/images/wallit-logo.svg" alt="logo"></a>
                    <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="{{site.baseurl}}/">Home</a></li>
                        <li><a class="dropdown-button" href="#!" data-activates="documentation-dropdown">Documentation<i class="material-icons right">arrow_drop_down</i></a></li>
                        <ul id="documentation-dropdown" class="dropdown-content">
                            <li><a href="{{site.baseurl}}/documentation-home">Documentation Home</a></li>
                            <li><a href="{{site.baseurl}}/overview-of-concepts">Overview of Concepts</a></li>
                            <li><a href="{{site.baseurl}}/overview-of-user-interfaces">Overview of User Interfaces</a></li>
                            <li><a href="{{site.baseurl}}/common-scenarios">Common Scenarios</a></li>
                            <li><a href="{{site.baseurl}}/api">Detailed API Documentation</a></li>
                        </ul>
                        <li><a class="dropdown-button" href="#!" data-activates="sdks-dropdown">SDKs<i class="material-icons right">arrow_drop_down</i></a></li>
                        <ul id="sdks-dropdown" class="dropdown-content">
                            <li><a href="{{site.baseurl}}/sdks">SDKs Overview</a></li>
                            <li><a href="https://github.com/wallit/wallit-php-sdk">PHP SDK<i class="material-icons right">open_in_new</i></a></li>
                            <li><a href="https://github.com/wallit/wallit-nodejs-sdk">NodeJS SDK<i class="material-icons right">open_in_new</i></a></li>
                        </ul>
                        <li><a class="dropdown-button" href="#!" data-activates="cms-plugins-dropdown">CMS Plugins<i class="material-icons right">arrow_drop_down</i></a></li>
                        <ul id="cms-plugins-dropdown" class="dropdown-content">
                            <li><a href="{{site.baseurl}}/cms-plugins">CMS Plugins Overview</a></li>
                            <li><a href="https://github.com/wallit/wordpress-wallit">WordPress Plugin<i class="material-icons right">open_in_new</i></a></li>
                            <li><a href="https://github.com/wallit/drupal-wallit">Drupal Plugin<i class="material-icons right">open_in_new</i></a></li>
                        </ul>
                    </ul>
                    <ul class="side-nav" id="mobile-menu">
                        <li><a href="{{site.baseurl}}/">Home</a></li>
                        <li><a href="{{site.baseurl}}/documentation-home">Documentation Home</a></li>
                        <ul>
                            <li><a href="{{site.baseurl}}/overview-of-concepts">Overview of Concepts</a></li>
                            <li><a href="{{site.baseurl}}/overview-of-user-interfaces">Overview of User Interfaces</a></li>
                            <li><a href="{{site.baseurl}}/common-scenarios">Common Scenarios</a></li>
                            <li><a href="{{site.baseurl}}/api">Detailed API Documentation</a></li>
                            <ul>
                                <li><a href="{{site.baseurl}}/api/js">Javascript Library</a></li>
                                <li><a href="{{site.baseurl}}/api/rest">REST API</a></li>
                                <li><a href="{{site.baseurl}}/api/webhooks">Webhooks</a></li>
                            </ul>
                        </ul>
                        <li><a href="{{site.baseurl}}/sdks">SDKs</a></li>
                        <ul>
                            <li><a href="https://github.com/wallit/wallit-php-sdk">PHP SDK</a></li>
                            <li><a href="https://github.com/wallit/wallit-nodejs-sdk">NodeJS SDK</a></li>
                        </ul>
                        <li><a href="{{site.baseurl}}/cms-plugins">CMS Plugins</a></li>
                        <ul>
                            <li><a href="https://github.com/wallit/wordpress-wallit">WordPress Plugin</a></li>
                            <li><a href="https://github.com/wallit/drupal-wallit">Drupal Plugin</a></li>
                        </ul>
                    </ul>
                </div>
            </nav>
        </header>
        {{ content }}
        <footer class="page-footer blue-grey darken-3">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Need more help?</h5>
                        <p class="grey-text text-lighten-4">
                            No problem!  We'd love to chat with you - we really mean it!
                            <a href="mailto:support@wallit.io">Contact Us</a> - we promise we don't bite!
                        </p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Wallit</h5>
                        <ul class="browser-default">
                            <li><a class="grey-text text-lighten-3" href="https://wallit.io">Wallit</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://manageui.wallit.io">My Wallit</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://wallit.desk.com/">Support</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2017 Wallit
                </div>
            </div>
        </footer>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
        <script src="{{ site.baseurl }}/js/main.js"></script>
    </body>
</html>
